{{- if .Values.serviceMonitor.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "cdn-service.fullname" . }}
  labels:
    release: prom
spec:
  selector:
    matchLabels:
      app: {{ include "cdn-service.name" . }}
  namespaceSelector:
    any: true
  endpoints:
    - port: http
      path: /metrics
      interval: {{ .Values.serviceMonitor.interval }}
{{- end }}
